#playButton1, #playButton2, #pauseButton1, #pauseButton2  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
table {
    font-size:11px;
    } 
} 
@media (min-width: 601px) {
table {
    font-size:16px;
    } 
} 
.bg,
.bg:after {
 position:absolute;
 height:100vh
}
.board .float-down,
.board .title-bar {
 font-family:iconfont;
 text-decoration:none
}
html {
 scroll-behavior:smooth
}
body {
 background-color:black;
 margin:0
}
h1,
h2,
h3 {
 font-weight:500;
 letter-spacing:.3rem;
 text-transform:uppercase
}
a {
 color:inherit
}
.bg {
 width:100%;
 z-index:-1;
 top:0;
 overflow:hidden
}
.bg:after {
 content:"";
 margin-top:-5vh;
 background:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,.5)),var(--bg);
 background-size:cover;
 width:100vw
}
.board {
 width:100%;
 position:sticky;
 top:5vh;
 height:95vh;
 display:flex;
 align-items:center;
 margin-top:5vh;
 color:#fff;
 box-shadow:0 -5px 5px rgba(0,0,0,.06)
}
.board:nth-child(1) {
 border-radius:0;
 top:0vh;
 margin-top:0;
 height:100vh
}
.board:nth-child(1) .title-bar {
 position:initial;
 width:125px;
 margin-top:0;
 float:left
}
.board:nth-child(2) .title-bar {
 width:calc(100% - 125px);
 margin-left:125px
}
.board:nth-child(2) .title-bar .bg {
 width:calc(100% + 125px);
 margin-left:-125px
}
.board:nth-child(3) .title-bar {
 width:calc(100% - 250px);
 margin-left:250px
}
.board:nth-child(3) .title-bar .bg {
 width:calc(100% + 250px);
 margin-left:-250px
}
.board:nth-child(4) .title-bar {
 width:calc(100% - 375px);
 margin-left:375px
}
.board:nth-child(4) .title-bar .bg {
 width:calc(100% + 375px);
 margin-left:-375px
}
.board:nth-child(5) .title-bar {
 width:calc(100% - 500px);
 margin-left:500px
}
.board:nth-child(5) .title-bar .bg {
 width:calc(100% + 500px);
 margin-left:-500px
}
.board .title-bar-btns {
 position:absolute;
 top:0
}
.board .title-bar {
 position:absolute;
 box-shadow:-5px -5px 5px rgba(0,0,0,.3);
 margin-top:-5vh;
 top:0;
 box-sizing:border-box;
 align-items:center;
 border-top-left-radius:20px;
 height:5vh;
 display:flex;
 padding:15px 35px;
 overflow:hidden;
 font-weight: bolder;
 font-size:1.1em;
 color:#fff;
}
.board .title-bar .bg {
 z-index:-1;
 top:0;
 left:0
}
.board .title-bar .bg:after {
 margin-top:0!important
}
.board .other {
 color:#cfcfcf;
 transition:all .3s
}
.board .other:hover {
 color:#fff
}
.board .left-text {
 position:absolute;
 left:15%
}
.board .left-text-about {
 position:absolute;
 left:45%
}
@media (max-width: 600px) {
.board .right-text .middletext {
 font-size:5px;
 margin-top:0;
 margin-bottom:40px
}
.board .left-text .bigtext {
 font-size:30px;
 margin-top:0;
 margin-bottom:30px;
}
.board .left-text .middletext {
 font-size:19px;
 margin-top:0;
 margin-bottom:13px
}
.board .left-text .middletext2 {
 font-size:19px;
 margin-top:0;
 margin-bottom:13px
}
.board .left-text .middletext3 {
 font-size:13px;
 margin-top:0;
 margin-bottom:13px
}
}
@media (min-width: 601px) {
.board .right-text .middletext {
 font-size:20px;
 margin-top:0;
 margin-bottom:40px
}
.board .left-text .bigtext {
 font-size:70px;
 margin-top:0;
 margin-bottom:30px;
}
.board .left-text .middletext {
 font-size:35px;
 margin-top:0;
 margin-bottom:13px
}
.board .left-text .middletext2 {
 font-size:30px;
 margin-top:0;
 margin-bottom:13px
}
.board .left-text .middletext3 {
 font-size:16px;
 margin-top:0;
 margin-bottom:13px
}
}
.board .left-text .actions {
 display:flex;
 align-items:center
}
.board .left-text-about .actions {
 display:flex;
 align-items:center
}
.board .left-text .actions .btn {
 padding:10px 20px;
 border:2px solid #fff;
 border-radius:50px;
 text-decoration:none;
 color:#fff;
 transition:all .3s
}
.board .left-text-about .actions .btn {
 padding:10px 20px;
 border:2px solid #fff;
 border-radius:50px;
 text-decoration:none;
 color:#fff;
 transition:all .3s
}
.board .left-text .actions .btn:hover {
 background-color:#fff;
 color:#333
}
.board .left-text .actions .btn:active {
 transform:scale(.98)
}
.board .left-text .actions .btn:nth-child(1) {
 margin-right:20px
}
.board ..left-text-about .actions .btn {
 padding:10px 20px;
 border:2px solid #fff;
 border-radius:50px;
 text-decoration:none;
 color:#fff;
 transition:all .3s
}
.board .left-text-about .actions .btn:hover {
 background-color:#fff;
 color:#333
}
.board .left-text-about .actions .btn:active {
 transform:scale(.98)
}
.board .left-text-about .actions .btn:nth-child(1) {
 margin-right:20px
}
.board .right-pic video{
 transition:all .5s;
 opacity:0;
 transform:translate(0,10vh)
}
@media (min-width: 601px) {
.board .right-pic {
 position:absolute;
 user-select:none;
 right:15%
}
}
@media (max-width: 600px) {
.board .right-pic {
 position:absolute;
 user-select:none;
 top:15%
}
}
.board .right-pic video {
 border-radius:2px;
 max-width:1388px;
 width:40vw;
 height:auto;
 box-shadow:0 0 20px rgba(0,0,0,.5)
}
.board .float-down {
 animation:1s ease-in-out 0s infinite alternate float;
 animation-direction:alternate-reverse;
 position:absolute;
 font-size:40px;
 right:calc(50% - 20px);
 bottom:5%;
 color:rgba(255,255,255,.5);
 transition:all .3s
}
.board .float-down:hover {
 color:#fff
}
.board-index1 {
 background:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../images/1.jpg);
 background-size:cover;
 background-position:center
}
.board-about .bg {
 height:100vh;
 background-color:black
}
.board-about .left-text a {
 text-decoration:none
}
.board-about .left-text-about a {
 text-decoration:none
}
.board-about #about-bg canvas {
 margin-top:-5vh
}
.board-about #mobile-br {
 display:none
}
.animated-up {
 transform:translate(0,0)!important;
 opacity:1!important
}
@keyframes float {
 from {
  transform:translate(0,0)
 }
 to {
  transform:translate(0,5px)
 }
}
::-webkit-scrollbar {
 display:none
}
@media screen and (max-width:600px) {
 body {
  font-size:14px
 }
 .board .title-bar {
  padding:0
 }
 .board .title-bar span {
  width:25vw;
  text-align:center
 }
 .board:nth-child(1) .title-bar-btns {
  width:100vw
 }
 .board:nth-child(1) .title-bar {
  position:initial;
  width:25vw!important;
  margin-top:0;
  float:left;
  justify-content:center
 }
 .board:nth-child(2) .title-bar {
  position:absolute;
  width:75vw!important;
  right:0!important
 }
 .board:nth-child(2) .title-bar .bg {
  width:100vw;
  margin-left:-25vw
 }
 .board:nth-child(3) .title-bar {
  width:50vw!important;
  right:0!important
 }
 .board:nth-child(3) .title-bar .bg {
  width:100vw;
  margin-left:-50vw
 }
 .board:nth-child(4) .title-bar {
  width:25vw!important;
  right:0!important
 }
 .board:nth-child(4) .title-bar .bg {
  width:100vw;
  margin-left:-75vw
 }
 .board:nth-child(5) .title-bar {
  width:25vw!important;
  right:0!important
 }
 .board:nth-child(5) .title-bar .bg {
  width:100vw;
  margin-left:-100vw
 }
 .board {
  justify-content:center
 }
 .board .left-text {
  position:initial;
  left:unset;
  text-align:center
 }
 .board .left-text .actions {
  justify-content:center
 }
 .board .left-text-about  {
  position:initial;
  left:unset;
  text-align:center
 }
 .board .left-text-about .actions {
  justify-content:center
 }

 .float-down {
  bottom:10%!important
 }
 .board-intro {
  flex-direction:column
 }
 .board-intro .right-pic {
  margin-top:30px;
  position:initial!important;
  left:unset;
  text-align:center
 }
 .board-intro .right-pic video {
  max-width:90vw;
  width:90vw
 }
 }
 .left-text {
  padding:0 20px
 }
}